<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		
		<!-- 
		This is only for ASP.NET 1.0 and 1.1. 
		This line does not need to be included in ASP.NET 2.0, 3.5, or 4.0
		<httpHandlers>
			<add verb="GET" 
				path="FtbWebResource.axd" 
				type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />		
		</httpHandlers>
		-->			
		
		
		<!-- 
		For ASP.NET 4.0, you'll need this to allow validateRequest="false" on your form to work
		
		<httpRuntime requestValidationMode="2.0" />
		-->		
		
	</system.web> 
	
	<!-- IIS7 settings for ASP.NET 1.0, 1.1 -->
	<!--
	<system.webServer>
		<handlers>
			<add verb="GET" name="FTB"
				path="FtbWebResource.axd"
				type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
		</handlers>	
	</system.webServer>
	-->
	     
</configuration>